{% if personal.name or personal.location or personal.email or personal.phone or personal.linkedin or personal.github or personal.portfolio %}
# {{ personal.name }}
{% if personal.location %} - {{ personal.location }}{% endif %}
{% if personal.email %} - {{ personal.email }}{% endif %}
{% if personal.phone %} - {{ personal.phone }}{% endif %}
{% if personal.linkedin %} - https://{{ personal.linkedin }}{% endif %}
{% if personal.github %} - https://{{ personal.github }}{% endif %}
{% if personal.portfolio %} - https://{{ personal.portfolio }}{% endif %}
{% endif %}

{% if education %}
## Education
{% for e in education %}
### {{ e.institution }} – *{{ e.location }}* 
{% for d in e.degrees %}
- **{{ d.degree }}** <span style="float: right;"> *{{ d.start }}–{{ d.end }}* </span>
    {% if d.gpa %} - GPA: {{ d.gpa }} {% endif %}
    {% if d.details %} - {{ d.details | join(', ') }} {% endif %}
{% endfor %}

{% if e.awards %} 
- Awards: 
    - {{ e.awards | join('\n\t- ') }}
{% endif %}

{% endfor %}
{% endif %}

{% if experiences %}
## Experience
{% for exp in experiences %}
### {{ exp.company }}{% if exp.location %} – *{{ exp.location }}*{% endif %}
**{{ exp.role }}** {% if exp.start or exp.end %}<span style="float: right;"> *{{ exp.start }}–{{ exp.end }}* </span>{% endif %}
{% for b in exp.bullets %}- {{ b.text }}
{% endfor %}
{% endfor %}
{% endif %}

{% if projects %}
## Projects
{% for p in projects %}
### {{ p.name }}{% if p.url %} — [{{ p.url }}](https://{{ p.url }}){% endif %}
{% if p.dates %}{% if p.dates.start or p.dates.end %}<span style="float: right;"> *{{ p.dates.start }}{% if p.dates.end %}–{{ p.dates.end }}{% endif %}* </span>{% endif %}{% endif %}
{% if p['tech-used'] %}*{{ p['tech-used'] }}*{% endif %}
{% for b in p.bullets %}- {{ b.text }}
{% endfor %}
{% endfor %}
{% endif %}

{% if skills %}
## Technical Skills
{% for s in skills %}- *{{ s.category }}*: {{ s['items'] | join(', ') }}
{% endfor %}
{% endif %}
