
#let resume(
  author: "",
  author-position: center,
  location: "",
  email: "",
  phone: "",
  linkedin: "",
  github: "",
  portfolio: "",
  personal-info-position: center,

  color-enabled: true,
  text-color: "#000080",
  font: "New Computer Modern",
  paper: "us-letter",
  author-font-size: 20pt,
  font-size: 10pt,
  lang: "en",
  body,
) = {
  set document(author: author, title: author)

  set text(
    font: font,
    size: font-size,
    lang: lang,
    ligatures: false,
  )
  set page(
    margin: 0.5in,
    paper: paper,
  )

  show heading: set text(fill: if color-enabled { rgb(text-color) } else { black })
  show link: set text(fill: if color-enabled { rgb(text-color) } else { blue })
  show link: underline

  show heading.where(level: 1): it => [
    #set align(author-position)
    #set text(
      weight: "bold",
      size: author-font-size,
    )
    #pad(it.body)
  ]

  [= #(author)]

  let contact-item(value, prefix: "", link-type: "") = {
    if value != "" {
      if link-type != "" {
        link(link-type + value)[#(prefix + value)]
      } else {
        value
      }
    }
  }
  pad(
    top: 0.25em,
    align(personal-info-position)[
      #{
        let items = (
          contact-item(phone),
          contact-item(location),
          contact-item(email, link-type: "mailto:"),
          contact-item(github, link-type: "https://"),
          contact-item(linkedin, link-type: "https://"),
          contact-item(portfolio, link-type: "https://"),
        )
        items.filter(x => x != none).join("  |  ")
      }
    ],
  )

  show heading.where(level: 2): it => [
    #pad(top: 0pt, bottom: -10pt, [#smallcaps(it.body)])
    #line(length: 100%, stroke: 1pt)
  ]

  set par(justify: true)

  body
}

#let one-by-one-layout(
  left: "",
  right: "",
) = {
  [
    #left #h(1fr) #right
  ]
}

#let two-by-two-layout(
  top-left: "",
  top-right: "",
  bottom-left: "",
  bottom-right: "",
) = {
  grid(
    columns: (3fr, 1fr),
    column-gutter: 1em,
    row-gutter: 0.5em,
    align: (top + left, top + right),
    top-left, top-right,
    bottom-left, bottom-right
  )
}

#let dates-util(
  start-date: "",
  end-date: "",
) = {
  if end-date == "" {
    start-date
  } else {
    start-date + " " + $dash.em$ + " " + end-date
  }
}

// Experience Component
#let work(
  company: "",
  role: "",
  dates: "",
  tech-used: "",
  location: "",
) = {
  if tech-used == "" {
    two-by-two-layout(
      top-left: strong(company),
      top-right: dates,
      bottom-left: role,
      bottom-right: emph(location),
    )
  } else {
    two-by-two-layout(
      top-left: strong(company) + " " + "|" + " " + strong(role),
      top-right: dates,
      bottom-left: tech-used,
      bottom-right: emph(location),
    )
  }
}

// Project Component
// Optional arguments: tech-used
#let project(
  name: "",
  dates: "",
  tech-used: "",
  url: "",
) = {
  if tech-used == "" {
    one-by-one-layout(
      left: [*#name* #if url != "" and dates != "" [(#link("https://" + url)[#url])]],
      right: dates,
    )
  } else {
    two-by-two-layout(
      top-left: strong(name),
      top-right: dates,
      bottom-left: tech-used,
      bottom-right: [(#link("https://" + url)[#url])],
    )
  }
}

// Education Component
#let edu(
  institution: "",
  location: "",
  degree: "",
  dates: "",
) = {
  two-by-two-layout(

    top-left: strong(institution),
    top-right: dates,
    bottom-left: degree,
    bottom-right: emph(location),
  )
}

// Final Output
#show: resume.with(
  author: "{{ personal.name }}",
  author-position: center,

  // Personal information (optional)
  location: "{{ personal.location }}",
  email: "{{ personal.email }}",
  phone: "{{ personal.phone }}",
  linkedin: "{{ personal.linkedin }}",
  github: "{{ personal.github }}",
  portfolio: "{{ personal.portfolio }}",
  personal-info-position: center,

  // Document formatting defaults (override in data if desired)
  color-enabled: false,
  text-color: "#000080",
  font: "New Computer Modern",
  paper: "us-letter",
  author-font-size: 20pt,
  font-size: 10pt,
  lang: "en",
)


{% if education %}
== Education
{% for e in education %}
#edu(
  institution: "{{ e.institution }}",
  location: "{{ e.location }}",
  degree: "{% for d in e.degrees %}{{ d.degree }}{% if not loop.last %} \n{% endif %}{% endfor %}",
  dates: dates-util(start-date: "{{ e.degrees[0].start }}", end-date: "{{ e.degrees[-1].end }}"),
)
{% if e.awards %} - Awards: {{ e.awards | join(', ') }} {% endif %}
{% endfor %}
{% endif %}


{% if experiences %}
== Experience
{% for exp in experiences %}
#work(
  company: "{{ exp.company }}",
  role: "{{ exp.role }}",
  dates: dates-util(start-date: "{{ exp.start }}", end-date: "{{ exp.end }}"),
  tech-used: "{{ exp.get('tech-used','') }}",
  location: "{{ exp.location }}",
)
{% for b in exp.bullets %}
- {{ b.text }}
{% endfor %}
{% endfor %}
{% endif %}


{% if projects %}
== Projects
{% for p in projects %}
#project(
  name: "{{ p.name }}",
  dates: dates-util(start-date: "{{ p.dates.start }}", end-date: "{{ p.dates.end }}"),
  tech-used: "{{ p['tech-used'] }}",
  url: "{{ p.url }}",
)
{% for b in p.bullets %}
- {{ b.text }}
{% endfor %}
{% endfor %}
{% endif %}


{% if publications %}
== Publications
{% for p in publications %}
- {{ p.title }}, {{ p.authors | join(', ') }}, {{ p.journal }} ({{ p.year }})
{% endfor %}
{% endif %}


{% if skills %}
== Technical Skills
{% for s in skills %}
- *{{ s.category }}*: {{ s['items'] | join(', ') }}
{% endfor %}
{% endif %}